



body {
  font-family: 'Oswald', sans-serif;
  color: #373A3C;
}

.morado {
  background-color: #660066;
}

.hero-section {
  position:relative;
  background-image: url(../img/bg_hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 30rem;
}

.magdalena {
margin-top: 30px;

}

hr {
  border: 1px solid;
  width: 8rem;
}

.blanca {
  border: 1px solid;
  width: 8rem;
  color: #ffffff;
}


.principal {
  border: 1px solid;
  width: 22rem;
}

.textos {
  font-family: 'Open Sans', sans-serif;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.texto-destacado {
  font-weight: 600;
}


.regular {
font-weight: 400;
line-height: 2.5;
display: inline-block;
}

.subtitulo {
  font-weight: 700;
}

.texto-card {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.logo-secundario {
  font-size: 2rem;
  display: inline-block;


}


.carousel-indicators li {
  margin-bottom: -40rem;
}
